* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(33, 201, 84);
  font-family: sans-serif;
}

.navList {
  list-style-type: none;
  padding: 20px 0;
  display: flex;
}

.navItem {
  margin: 0 18px;
  transition: 0.3s linear;
}

.navLink {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  transition: 0.3s linear;
}

.navLink:hover {
  color: yellow;
}
